*{


    box-sizing: border-box;
    margin: 0;

}

body{
    display: flex;
    justify-content: center;
    text-align: center;
}


.game-container{
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover   ;
    height: 100svh;
    width: 400px;
    position: relative;
    overflow: hidden;
    
}


.header{
    position:absolute;
    background-color: blue;
    height: 50px;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    
}

.bird{
background-image: url(images/BIRD-fotor-bg-remover-20231220164430.png);
background-repeat: no-repeat;
background-size: cover;
transform: scale(3);
height: 20px;
width: 20px;
position: absolute;
}

.topPole{
    background-color: black;
    width: 50px;
    height: 300px;
    position: absolute;
    
}

.bottomPole{
    background-color: black;
    width: 50px;
    height: 300px;
    position: absolute;
    transform-origin: bottom;
    transform: rotate(180deg);

}

